.application-demo-title-section {
  margin: 40px 0;
  width: 100%;
  flex: 0 0 auto;
}

.application-demo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-image: url('../assets/bg-green-sin.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  overflow: hidden;
}

.application-demo-section .container {
  padding: 0 0;
}

.application-demo-section__container {
  position: absolute;
  width: 100%;
  height: 600px;
}

.application-demo-section__image {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 50%;
  margin-left: -200px;
}

.application-demo-section__slider {
  position: absolute;
  width: 100%;
  height: 600px;
}

.application-demo-section__slide {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.application-demo-section__slide img {
  height: 400px;
}