/* Slider Section */
.common-section {
  padding: 40px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.common-section__content {
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.common-section__container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.swiper-pagination-bullet {
  background-color: #D0D7DC !important;
}

.swiper-pagination-bullet-active {
  background-color: #4e9c1f !important;
}

.common-section__arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #FFFFFF;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.common-section__arrow-icon:hover {
  opacity: .9;
}

.common-section__arrow-image {
  width: 22px;
  height: 18px;
}

.swiper-button-next,
.swiper-button-prev {
  width: fit-content !important;
  height: fit-content !important;
}


.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 50px !important;
}

.swiper-button-prev {
  left: 100px !important;
}

.swiper-button-next {
  right: 100px !important;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: unset !important;
    bottom: -18px !important;
  }
  
  .swiper-button-prev {
    left: 20px !important;
  }

  .swiper-button-next {
    right: 20px !important;
  }
}
